
body{
 background-image: url("images/clouds.jpg"); 
 background-size: cover;
    width: 400px;
    height: 600px;

    font-size: 50px;
    padding-right: 60px; 
    padding-left: 500px;
    padding-top: 300px;
    padding-bottom: 200px; 
    font-style: oblique;
    
}